In [2]:
from sklearn import tree
import pandas as pd
import os

In [23]:
eth = pd.read_csv(os.path.join("data", "final_bitcoin.csv"))
eth = eth.rename(columns={"Datetime":"date"})
value = pd.read_csv(os.path.join("data", "coin_value.csv"))
df = pd.merge(eth, value,how='outer', on='date')
#eth.head()
df = df.drop(["dogecoin_volume", "dogecoin_price", "ethereum_price", "Unnamed: 0_y", "Unnamed: 0_x"], axis=1)
df.head()

,date,cleaned,negative,neutral,positive,comp,bitcoin_price
0,2022-05-01,"['oh', 'think', 'im', 'pull', 'ass', 'bitcoin'...",0.304,0.696,0.000,-0.5423,53518.018858
1,2022-05-01,"['cryptic', 'oz', 'bitcoin', 'es', 'baloncesto...",0.000,1.000,0.000,0.0000,53518.018858
2,2022-05-01,"['un', 'long', 'sandbox', 'sandbox', 'crypto',...",0.000,1.000,0.000,0.0000,53518.018858
3,2022-05-01,"['realiz', 'attract', 'religion', 'asset', 'pr...",0.000,0.414,0.586,0.8360,53518.018858
4,2022-05-01,"['ridicul', 'stock', 'bitcoin', 'money', 'lite...",0.114,0.773,0.114,0.0000,53518.018858

In [26]:
target = df["bitcoin_price"]
target_names = ["negative", "positive"]

In [27]:
data = df.drop("Outcome", axis=1)
feature_names = data.columns
data.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
0,6,148,72,35,0,33.6,0.627,50
1,1,85,66,29,0,26.6,0.351,31
2,8,183,64,0,0,23.3,0.672,32
3,1,89,66,23,94,28.1,0.167,21
4,0,137,40,35,168,43.1,2.288,33

In [28]:
# Split the data using train_test_split
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(data, target, random_state=42)

In [29]:
# Create a Decision Tree Classifier
clf = tree.DecisionTreeClassifier()
clf = clf.fit(X_train, y_train)
clf.score(X_test, y_test)

0.7083333333333334

In [30]:
# Fit the classifier to the data
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(n_estimators=200)
rf = rf.fit(X_train, y_train)
rf.score(X_test, y_test)

0.7447916666666666

In [31]:
# Bonus
# Create, fit, and score a Random Forest Classifier
sorted(zip(rf.feature_importances_, feature_names), reverse=True)

[(0.27048915216023267, 'Glucose'),
 (0.16691929580575163, 'BMI'),
 (0.14609172933189918, 'Age'),
 (0.11523023684034561, 'DiabetesPedigreeFunction'),
 (0.0847340184671116, 'BloodPressure'),
 (0.07482551613097135, 'Pregnancies'),
 (0.07123483834715877, 'Insulin'),
 (0.07047521291652913, 'SkinThickness')]