In [2]:
from sklearn import tree
import pandas as pd
import os

In [13]:
df = pd.read_csv(os.path.join("..","..","..", "data", "ethereum_cleaned.csv"))
crypto = pd.read_csv(os.path.join("..","..","..","data", "price.csv"))
df = df.rename(columns={"Datetime":"date"})

In [16]:
sentiment0=[]
for i in range(len(df)):
    if df.loc[i,'negative']>0:
        sentiment0+=[0]
    elif df.loc[i,'positive']>0:
        sentiment0+=[2]        
    else:
        sentiment0+=[1]

In [17]:
df['sentiment']=sentiment0
df['sentiment'].value_counts()

df.head()

,Unnamed: 0,date,cleaned,negative,neutral,positive,comp,sentiment
0,0,2022-05-01,"['eth', 'http', 'co', 'nolnum7c3k']",0.0,1.000,0.000,0.0000,1
1,1,2022-05-01,"['btc', 'xrp', 'xem', 'lisk', 'iost', 'sand', ...",0.0,0.725,0.275,0.5859,2
2,2,2022-05-01,"['eth', 'son', '3', 'dip', 'daha', 'yapacak', ...",0.0,1.000,0.000,0.0000,1
3,3,2022-05-01,"['tigray', 'emerg', 'famin', 'food', 'insecur'...",0.0,1.000,0.000,0.0000,1
4,4,2022-05-01,"['b', 'nu', 'binanc', 'live', 'nft', 'bnb', 'b...",0.0,1.000,0.000,0.0000,1

In [10]:
crypto.reset_index(inplace=True)
crypto = crypto.drop(['index'], axis = 1)
crypto['date'] = pd.to_datetime(crypto['date'])
crypto['date'] = crypto['date'].dt.strftime('%Y-%m-%d')
crypto

,Unnamed: 0,bitcoin_price,ethereum_price,dogecoin_price,date,bitcoin_volume,ethereum_volume,dogecoin_volume
0,0,14884.979992,328.653136,0.003901,2020-05-19,5.967659e+10,2.045635e+10,3.159139e+08
1,1,14922.865925,326.538524,0.003891,2020-05-20,5.668974e+10,1.561838e+10,1.867668e+08
2,2,14452.798040,318.473767,0.003781,2020-05-21,5.283982e+10,1.582295e+10,1.764923e+08
3,3,13795.940128,302.899061,0.003681,2020-05-22,5.476526e+10,1.234986e+10,2.064283e+08
4,4,13971.494350,315.525952,0.003858,2020-05-23,4.238211e+10,1.627442e+10,2.184323e+08
...,...,...,...,...,...,...,...,...
725,725,42267.741872,2898.843244,0.127568,2022-05-14,1.031672e+11,3.457985e+10,1.679408e+09
726,726,43534.739233,2976.736395,0.129823,2022-05-15,3.714673e+10,2.075952e+10,9.658377e+08
727,727,45069.769903,3089.689306,0.134079,2022-05-16,3.302329e+10,2.071565e+10,7.538429e+08
728,728,42910.751665,2905.144652,0.126187,2022-05-17,4.075195e+10,2.877878e+10,7.785160e+08
729,729,43383.269503,2979.972928,0.128611,2022-05-18,3.550730e+10,2.418622e+10,7.598522e+08

In [14]:
eth = pd.merge(df, crypto,how='outer', on='date')

In [15]:
eth

,Unnamed: 0_x,date,cleaned,negative,neutral,positive,comp,Unnamed: 0_y,bitcoin_price,ethereum_price,dogecoin_price,bitcoin_volume,ethereum_volume,dogecoin_volume
0,0.0,2022-05-01,"['eth', 'http', 'co', 'nolnum7c3k']",0.0,1.000,0.000,0.0000,712,53518.018858,3874.650573,0.180779,2.965347e+10,1.785574e+10,1.206468e+09
1,1.0,2022-05-01,"['btc', 'xrp', 'xem', 'lisk', 'iost', 'sand', ...",0.0,0.725,0.275,0.5859,712,53518.018858,3874.650573,0.180779,2.965347e+10,1.785574e+10,1.206468e+09
2,2.0,2022-05-01,"['eth', 'son', '3', 'dip', 'daha', 'yapacak', ...",0.0,1.000,0.000,0.0000,712,53518.018858,3874.650573,0.180779,2.965347e+10,1.785574e+10,1.206468e+09
3,3.0,2022-05-01,"['tigray', 'emerg', 'famin', 'food', 'insecur'...",0.0,1.000,0.000,0.0000,712,53518.018858,3874.650573,0.180779,2.965347e+10,1.785574e+10,1.206468e+09
4,4.0,2022-05-01,"['b', 'nu', 'binanc', 'live', 'nft', 'bnb', 'b...",0.0,1.000,0.000,0.0000,712,53518.018858,3874.650573,0.180779,2.965347e+10,1.785574e+10,1.206468e+09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
160726,NaN,2022-04-29,NaN,NaN,NaN,NaN,NaN,710,55920.083463,4126.958405,0.193107,4.430150e+10,2.568311e+10,1.445039e+09
160727,NaN,2022-04-30,NaN,NaN,NaN,NaN,NaN,711,54692.422322,3986.886240,0.191145,3.927942e+10,2.533325e+10,1.988504e+09
160728,NaN,2022-05-16,NaN,NaN,NaN,NaN,NaN,727,45069.769903,3089.689306,0.134079,3.302329e+10,2.071565e+10,7.538429e+08
160729,NaN,2022-05-17,NaN,NaN,NaN,NaN,NaN,728,42910.751665,2905.144652,0.126187,4.075195e+10,2.877878e+10,7.785160e+08
160730,NaN,2022-05-18,NaN,NaN,NaN,NaN,NaN,729,43383.269503,2979.972928,0.128611,3.550730e+10,2.418622e+10,7.598522e+08

In [4]:
target = df["ETH Up/Down"]
target_names = ["comp", "ethereum_price"]

In [5]:
data = df.drop(["ETH Up/Down", "date", "Unnamed: 0", "Change ETH", "Pos/Neg"], axis=1)
feature_names = data.columns
data.head()

       comp  bitcoin_price  ethereum_price  dogecoin_price
0  0.070634   53518.018858     3874.650573        0.180779
1  0.093398   54531.860549     4008.085357        0.188247
2  0.078131   54709.645087     4059.288782        0.186066
3  0.075955   53180.614016     3921.344785        0.182778
4  0.079205   54702.555595     4053.948028        0.187391

In [6]:
# Split the data using train_test_split
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(data, target, random_state=42)

In [7]:
# Create a Decision Tree Classifier
clf = tree.DecisionTreeClassifier()
clf = clf.fit(X_train, y_train)
clf.score(X_test, y_test)

0.25

In [8]:
# Fit the classifier to the data
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(n_estimators=10)
rf = rf.fit(X_train, y_train)
rf.score(X_test, y_test)

0.5

In [9]:
# Bonus
# Create, fit, and score a Random Forest Classifier
sorted(zip(rf.feature_importances_, feature_names), reverse=True)

[(0.3096031746031746, 'dogecoin_price'),
 (0.26682539682539685, 'bitcoin_price'),
 (0.2576190476190476, 'ethereum_price'),
 (0.16595238095238096, 'comp')]