In [2]:
from sklearn import tree
import pandas as pd
import os

In [3]:
df = pd.read_csv(os.path.join("..", "Resources", "ethereumML.csv"))
df.head()

,Unnamed: 0,date,comp,Pos/Neg,bitcoin_price,ethereum_price,dogecoin_price,Change ETH,ETH Up/Down
0,0,2022-05-01,0.070634,1.0,53518.018858,3874.650573,0.180779,-112.235667,0
1,1,2022-05-02,0.093398,1.0,54531.860549,4008.085357,0.188247,133.434784,1
2,2,2022-05-03,0.078131,1.0,54709.645087,4059.288782,0.186066,51.203425,1
3,3,2022-05-04,0.075955,1.0,53180.614016,3921.344785,0.182778,-137.943997,0
4,4,2022-05-05,0.079205,1.0,54702.555595,4053.948028,0.187391,132.603243,1

In [4]:
target = df["ETH Up/Down"]
target_names = ["comp", "ethereum_price"]

In [5]:
data = df.drop(["ETH Up/Down", "date", "Unnamed: 0", "Change ETH", "Pos/Neg"], axis=1)
feature_names = data.columns
data.head()

       comp  bitcoin_price  ethereum_price  dogecoin_price
0  0.070634   53518.018858     3874.650573        0.180779
1  0.093398   54531.860549     4008.085357        0.188247
2  0.078131   54709.645087     4059.288782        0.186066
3  0.075955   53180.614016     3921.344785        0.182778
4  0.079205   54702.555595     4053.948028        0.187391

In [6]:
# Split the data using train_test_split
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(data, target, random_state=42)

In [7]:
# Create a Decision Tree Classifier
clf = tree.DecisionTreeClassifier()
clf = clf.fit(X_train, y_train)
clf.score(X_test, y_test)

0.25

In [8]:
# Fit the classifier to the data
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(n_estimators=10)
rf = rf.fit(X_train, y_train)
rf.score(X_test, y_test)

0.5

In [9]:
# Bonus
# Create, fit, and score a Random Forest Classifier
sorted(zip(rf.feature_importances_, feature_names), reverse=True)

[(0.3096031746031746, 'dogecoin_price'),
 (0.26682539682539685, 'bitcoin_price'),
 (0.2576190476190476, 'ethereum_price'),
 (0.16595238095238096, 'comp')]